<div class="grid__item {{ block.settings.alignment }} col_{{ section.id }}{{ block.id }} {% if block.settings.use_bg == true %} color-{{block.settings.color_scheme}} {% endif %}">
  {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
    {% content_for 'blocks' %}
  {% if block.settings.url != blank %}</a>{% endif %}
</div>

{%- style -%}
  {% if block.settings.show_border == true %}
    .grid__item.col_{{ section.id }}{{ block.id }} > a{
      color: rgb(var(--color-foreground));
      text-decoration: none;
    }
    .grid__item.col_{{ section.id }}{{ block.id }} {
      border: 1px solid #363636;
      padding: 20px;
      border-radius: 8px;
      transition: all 0.3s;
    }
    .grid__item.col_{{ section.id }}{{ block.id }}:hover {
      border: 2px solid #fff;
    }
  {% endif %}
{%- endstyle -%}


{% schema %}
  {
    "name": "Column",
    "tag": null,
    "blocks": [{"type": "@theme"},{"type": "@app"}],
    "settings": [
      {
         "type": "checkbox",
         "id": "use_bg",
         "label": "Use Background Color",
         "default": false
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1",
        "visible_if": "{{block.settings.use_bg}}"
      },
      {
         "type": "url",
         "id": "url",
         "label": "Link"
      },
      {
         "type": "text_alignment",
         "id": "alignment",
         "label": "Text alignment",
         "default": "left"
      },
      {
         "type": "checkbox",
         "id": "show_border",
         "label": "Show Border",
         "default": false
      }
    ],
    "presets": [{"name": "Column"}]
  }
{% endschema %}