<div class="media_{{ section.id }}{{ block.id }}">
  {% if block.settings.image != blank %}
    {{ block.settings.image | image_url: width: 5000 | image_tag  }}
  {% elsif block.settings.video != blank %}
    {{ block.settings.video | video_tag:image_size: '1100x', autoplay: true, loop: true, controls: false, muted: true }}
  {% else %}
    {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>



{% schema %}
  {
    "name": "Media",
    "tag": null,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "video",
        "id": "video",
        "label": "Video"
      }
    ],
    "presets": [{"name": "Media"}]
  }
{% endschema %}