<div class="grid grid--{{ block.settings.row_mobile }}-col grid--{{ block.settings.row_desktop }}-col-tablet row_{{ section.id }}{{ block.id }}">
  {% content_for 'blocks' %}
</div>

{%  style  %} 
{% if block.settings.all_center == true %}
  .grid.row_{{ section.id }}{{ block.id }} .grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  {% endif %}
{% endstyle %}


{% schema %}
  {
    "name": "Row",
    "tag": null,
    "blocks": [{"type": "column"}],
    "settings": [
      {
        "type": "select",
        "id": "row_desktop",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ],
        "default": "3",
        "label": "Desktop Row"
      },    
      {
        "type": "select",
        "id": "row_mobile",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ],
        "default": "1",
        "label": "Mobile Row"
      },
      {
        "type": "checkbox",
        "id": "all_center",
        "label": "All Center",
        "default": false
      }
    ],
    "presets": [{"name": "Row"}],
  }
{% endschema %}