<div class="image_area image_{{ section.id }}{{ block.id }}">
  <div class="swiper">
    <div class="mySwiper-{{ section.id }}{{ block.id }}">
      <div class="swiper-wrapper">
        {% content_for 'blocks' %}
      </div>
    </div>
    <div class="nav_action">        
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>

  <script>
    var swiper = new Swiper(".mySwiper-{{ section.id }}{{ block.id }}", {
      loop: true,
      navigation: {
        nextEl: ".image_{{ section.id }}{{ block.id }} .swiper-button-next",
        prevEl: ".image_{{ section.id }}{{ block.id }} .swiper-button-prev",
      },
    });
  </script>


{%- style -%}
  .nav_action div:empty{
    display: block
  }
  .image_area.image_{{ section.id }}{{ block.id }} {
    padding-top: {{ block.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ block.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .image_area.image_{{ section.id }}{{ block.id }} .mySwiper-{{ section.id }}{{ block.id }}{
    background: linear-gradient(135deg, rgba(135, 206, 235, 0.08) 0%, rgba(176, 196, 222, 0.06) 100%);
    border: 1px solid rgba(135, 206, 235, 0.15);
    border-radius: 16px;
    overflow: hidden;
  }
  .image_area.image_{{ section.id }}{{ block.id }} .mySwiper-{{ section.id }}{{ block.id }}{
    aspect-ratio: 16 / 10;
  }
  .nav_action .swiper-button-next:after, 
  .nav_action .swiper-button-prev:after {
    font-size: 20px;
    color: rgb(var(--color-foreground));
  }
  .nav_action > * {
    background: #10101090;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
  }
  .image_area.image_{{ section.id }}{{ block.id }} .nav_action{
    display: none;
    transition: all 0.3s;
  }
  .image_area.image_{{ section.id }}{{ block.id }}:hover .nav_action{
    display: block;
  }
  
  @media screen and (min-width: 750px) {
    .image_area.image_{{ section.id }}{{ block.id }} {
      padding-top: {{ block.settings.padding_top }}px;
      padding-bottom: {{ block.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}



{% schema %}
  {
    "name": "Slider",
    "tag": null,
    "blocks": [{"type": "slider-item"}],
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 10
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 10
      }
    ],
    "presets": [{"name": "Slider"}]
  }
{% endschema %}