<div class="image_area.image_{{ section.id }}{{ block.id }}">
  <div class="swiper">
    <div class="mySwiper-{{ section.id }}{{ block.id }}">
      <div class="swiper-wrapper">
        {% content_for 'blocks' %}
      </div>
    </div>
    <div class="nav_action">        
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>

  <script>
    var swiper = new Swiper(".mySwiper-{{ section.id }}{{ block.id }}", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>


{%- style -%}
  .nav_action div:empty{
    display: block
  }
  .image_area.image_{{ section.id }}{{ block.id }} {
    padding-top: {{ block.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ block.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .image_area.image_{{ section.id }}{{ block.id }} .mySwiper-{{ section.id }}{{ block.id }}{
    aspect-ratio: 16 / 9;
  }
  .image_area.image_{{ section.id }}{{ block.id }} .swiper-button-next:after, 
  .image_area.image_{{ section.id }}{{ block.id }} .swiper-button-prev:after {
    font-size: 20px;
    color: rgb(var(--color-foreground));
  }

  
  @media screen and (min-width: 750px) {
    .image_area.image_{{ section.id }}{{ block.id }} {
      padding-top: {{ block.settings.padding_top }}px;
      padding-bottom: {{ block.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}



{% schema %}
  {
    "name": "Slider",
    "tag": null,
    "blocks": [{"type": "slider-item"}],
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 10
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 10
      }
    ],
    "presets": [{"name": "Slider"}]
  }
{% endschema %}