<div class="tab-main-{{ section.id }}-{{ block.id }}">
  {% content_for 'blocks' %}
</div>


<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

<style>
  .tab-main-{{ section.id }}-{{ block.id }}{
    width: 100%;
  }
  .tab-main-{{ section.id }}-{{ block.id }} .resource-list__item{
    display: grid;    
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media(max-width: 768px){
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;      
    }
    @media(max-width: 390px){
      grid-template-columns: repeat(1, 1fr);
      gap: 0px;
      row-gap: 20px;
    }
  }
  .tab {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      flex-wrap: wrap;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    @media(max-width: 768px){
      padding: 10px 20px;
      font-size: 14px;
    }
  }
  .tab button:hover {
    background-color: var(--color-primary-button-hover-background);
    color: var(--color-background);
  }
  .tab button.active {
    background-color: var(--color-primary-button-background);
    color: var(--color-background);
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
</style>

{% schema %}
  {
    "name": "Switcher",
    "tag": null,
    "blocks": [{"type": "@theme"},{"type": "@app"}],
    "settings": [],
    "presets": [{"name": "Switcher"}]
  }
{% endschema %}